@model IEnumerable<InterfaceEntity.DetailPlacementTabJobTrainingEntity>

<table id="sample-table-1" class="table table-striped table-bordered table-hover center">
    <thead>
        <tr>
            <th class="center">
                <label class="position-relative">
                    #
                </label>
            </th>
            <th>عنوان آموزش حین کار</th>
            <th>تعداد ساعت ها</th>
            <th>سطح</th>
            <th>نظر نهایی مدیر/سرپرست</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody id="contacts">
        @{
            int i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="center">
                        <label class="position-relative">
                            @i
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfHours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OJTLevelId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinalComment)
                    </td>
                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            <button class="btnEditDetailPlacementTabJobTraining btn btn-xs btn-warning" 
                                    data-DetailPlacementTabJobTrainingId="@item.DetailPlacementTabJobTrainingId" 
                                    data-PlacementTabJobTrainingId="@item.PlacementTabJobTrainingId" 
                                    data-FinalComment="@item.FinalComment" 
                                    data-NumberOfHours="@item.NumberOfHours" 
                                    data-Title="@item.Title" data-OJTLevelId="@item.OJTLevelId" 
                                    data-OJTLevelName="@item.OJTLevelName">
                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                            </button>

                            <button data-DetailPlacementTabJobTrainingId="@item.DetailPlacementTabJobTrainingId" class="btnDeleteDetailPlacementTabJobTraining btn btn-xs btn-danger">
                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            </button>
                        </div>

                        <div class="hidden-md hidden-lg">
                            <div class="inline position-relative">
                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                    <li>
                                        <a data-Id="@item.DetailPlacementTabJobTrainingId" class="BtnEdit tooltip-success" data-rel="tooltip" title="ویرایش">
                                            <span class="green">
                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a data-Id="@item.DetailPlacementTabJobTrainingId" class="BtnDelete tooltip-error" data-rel="tooltip" title="حدف">
                                            <span class="red">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>

