@using Bussiness
@model IEnumerable<InterfaceEntity.EmployeeTrainingPassedEntity>
<table id="sample-table-1" class="table table-striped table-bordered table-hover center">
    <thead>
        <tr>
            <th rowspan="2">
                <label class="position-relative">
                    #
                </label>
            </th>
            <th rowspan="2">عنوان آموزش طی شده</th>
            <th colspan="3">نوع آموزش</th>
            <th rowspan="2">مدت</th>
            <th rowspan="2">تاریخ</th>
            <th rowspan="2">محل برگزاری</th>
            <th rowspan="2">گواهینامه</th>
            <th rowspan="2">عملیات</th>
        </tr>
        <tr>
            <th>SD</th>
            <th>OJT</th>
            <th>C</th>
        </tr>
    </thead>
    <tbody id="contacts">
        @{
            int i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="center">
                        <label class="position-relative">
                            @i
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingCourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OJT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @item.DateCourse.MiladiToPersion()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingvenueName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CertificateState)
                    </td>
                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            <button data-original-title="ویرایش" data-placement="top" data-toggle="tooltip" class="btnEditEmployeeTrainingPassed btn btn-xs btn-warning tooltip1"
                                    data-EmployeeTrainingPassedId="@item.EmployeeTrainingPassedId"
                                    data-TableTypeOfTrainingId="@item.TableTypeOfTrainingId"
                                    data-Employemeid="@item.Employemeid"
                                    data-TrainingCourseId="@item.TrainingCourseId"
                                    data-TrainingVenueId="@item.TrainingVenueId"
                                    data-Duration="@item.Duration"
                                    data-DateCourse="@item.DateCourse.MiladiToPersion()"
                                    data-CertificateState="@item.CertificateState"
                                    data-SD="@item.SD"
                                    data-OJT="@item.OJT"
                                    data-C="@item.C">
                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                            </button>

                            <button data-original-title="حذف" data-placement="top" data-toggle="tooltip" data-EmployeeTrainingPassedId="@item.EmployeeTrainingPassedId" data-TableTypeOfTrainingId="@item.TableTypeOfTrainingId" class="btnDeleteEmployeeTrainingPassed btn btn-xs btn-danger tooltip1">
                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            </button>
                            @if (item.CertificateState)
                            {
                                <button data-original-title="بارگذاری گواهینامه" data-placement="top" data-toggle="tooltip" data-ContentId="@item.EmployeeTrainingPassedId" class="BtnUploadFileEmployeeTrainingPassed btn btn-xs btn-info tooltip1">
                                    <i class="ace-icon fa fa-upload bigger-120"></i>
                                </button>
                            }
                        </div>

                        <div class="hidden-md hidden-lg">
                            <div class="inline position-relative">
                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                    <li>
                                        <a data-Id="@item.EmployeeTrainingPassedId" class="BtnEdit tooltip-success" data-rel="tooltip" title="ویرایش">
                                            <span class="green">
                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a data-Id="@item.EmployeeTrainingPassedId" class="BtnDelete tooltip-error" data-rel="tooltip" title="حدف">
                                            <span class="red">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>

