@model IEnumerable<InterfaceEntity.ListEffectivenessOfCourseEntity>
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <SCRIPT language="javascript">
        var designtrainingcourseid = '@ViewBag.designtrainingcourseid';

        if ($(".case").length == $(".case:checked").length) {
            $("#selectall").attr("checked", "checked");
        } else {
            $("#selectall").removeAttr("checked");
        }

        // add multiple select / deselect functionality
        $("#selectall").on("click", function (e) {
            $('.case').attr('checked', this.checked);
        });

	    // if all checkbox are selected, check the selectall checkbox
	    // and viceversa
	    $(".case").click(function(){

		    if($(".case").length == $(".case:checked").length) {
			    $("#selectall").attr("checked", "checked");
		    } else {
			    $("#selectall").removeAttr("checked");
		    }

	    });
    </SCRIPT>
</head>

<body>
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" style="display:none;margin-bottom:10px" id="MessageOperation">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-check"></i>
                <a href="#" id="messageOp"></a>
            </li>
        </ul>
        <!-- /.breadcrumb -->
    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-content-area">
            <br />
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">

                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">
                                    <label class="position-relative">
                                        #
                                    </label>
                                </th>
                                <th> نام شیوه ارزیابی اثر بخشی دوره</th>
                                <th class="center"><label class="position-relative"><input class="ace" type="checkbox" id="selectall"><span class="lbl"></span></label></th>
                            </tr>
                        </thead>
                        @{
                            int i = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            @i
                                        </label>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EffectivenessOfCoursesName)
                                    </td>
                                    <td class="center">
                                        <div class="hidden-sm hidden-xs btn-group">
                                            <label>
                                                @if (item.EffectivenessOfCoursesState == true)
                                                {
                                                    <input type="checkbox"  data-ListEffectivenessOfCourseId="@item.ListEffectivenessOfCourseId" data-EffectivenessOfCoursesId="@item.EffectivenessOfCoursesId" checked="checked" id="chkSelect" name="myoption[]" class="ace case" />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" data-ListEffectivenessOfCourseId="@item.ListEffectivenessOfCourseId" data-EffectivenessOfCoursesId="@item.EffectivenessOfCoursesId" name="myoption[]" id="chkSelect" class="ace case" />
                                                }
                                                <span class="lbl"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </table>
                </div>
                <!-- /.span -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content-area -->
        <div class="breadcrumbs" id="breadcrumbs">
            <div class="col-md-offset-3 col-md-9">
                <button id="btnSaveEffectivenessOfCourse" class="btn btn-success btn-white btn-round" type="button">
                    <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                    ذخیره
                </button>
                &nbsp; &nbsp; &nbsp;
                <button type="button" class="btn btn-danger btn-white btn-round" data-dismiss="modal" aria-label="Close">
                    <i class="ace-icon fa fa-undo bigger-125"></i>
                    بازگشت
                </button>
            </div>
        </div>
    </div>
    <!-- /.page-content -->
   
</body>

</html>


