@model InterfaceEntity.FinancialCommitmentEntity
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        $("#EmployemeId").select2();
        $("#TrainingCourseId").select2();
        $("#TrainingVenueId").select2();
        new AMIB.persianCalendar('FromDateStr');
        new AMIB.persianCalendar('ToDateStr');
 
        $("#EmployemeId").select2();
        $("#CorporateResponsibility").select2();

        function GetDesignTrainingCourse(_trainingcourseid) {
            var procemessage = "<option value=''> لطفا صبر کنید ....</option>";
            $("#TookHold").html(procemessage).show();
            var url = "/DesignTrainingCourse/GetDesignTrainingCourseListDPD";

            $.ajax({
                url: url,
                data: { trainingcourseid: _trainingcourseid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value=''>-- زمان را انتخاب نمائبد --</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#TookHold").html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        }

    </script>

</head>

<body>
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" style="display:none" id="MessageOperation">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-check"></i>
                <a href="#" id="messageOp"></a>
            </li>
        </ul>
        <!-- /.breadcrumb -->
    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-content-area">
            <br />

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <form class="form-horizontal" role="form">
                        <!-- #section:elements.form -->

                        <div class="form-group">
                            <label id="lblEmployemeId" class="col-sm-3 control-label no-padding-right" for="form-field-1">نام کارمند: </label>
                            <div class="col-md-9">
                                @Html.DropDownList("EmployemeId", new MultiSelectList(ViewBag.EmployemesId, "Value", "Text"), "-- نام  کارمند را انتخاب نمائید --", new { @id = "EmployemeId", @class = "col-xs-10 col-sm-5 col-md-10 fs" })
                                @Html.ValidationMessageFor(model => model.EmployemeId)
                            </div>
                        </div>

                        <div class="form-group">
                            <label id="lblTrainingCourseId" class="col-sm-3 control-label no-padding-right" for="form-field-1">نام دوره آموزشی: </label>
                            <div class="col-md-9">
                                @Html.DropDownList("TrainingCourseId", new MultiSelectList(ViewBag.TrainingCourseId, "Value", "Text"), "-- نام  دوره آموزشی را انتخاب نمائید --", new { @id = "TrainingCourseId", @class = "col-xs-10 col-sm-5 col-md-10 fs" })
                                @*@Html.DropDownList("TrainingCourseId", new MultiSelectList(ViewBag.TrainingCourseId, "Value", "Text"), "-- نام  دوره آموزشی را انتخاب نمائید --", new { @id = "TrainingCourseId", @class = "col-xs-10 col-sm-5 col-md-10 fs" }), @onchange = "javascript: GetDesignTrainingCourse(this.value);" })*@

                                @Html.ValidationMessageFor(model => model.TrainingCourseId)

                            </div>
                        </div>


                        @*<div class="form-group">
                            <label id="lblCurrentPostGroup" class="col-sm-3 control-label no-padding-right" for="form-field-1">زمان برگزاری : </label>
                            <div class="col-md-9">
                                <select id="TookHold" name="TookHold" class="col-xs-10 col-sm-5 col-md-10 fs"></select>
                            </div>
                        </div>*@

                        @*<div class="form-group">
                            <label id="lblDesignTrainingCourseDateId" class="col-sm-3 control-label no-padding-right" for="form-field-1">زمان برگزاری: </label>
                            <div class="col-md-9">
                                @Html.DropDownList("DesignTrainingCourseDateId", new MultiSelectList(ViewBag.DesignTrainingCourseDateId, "Value", "Text"), "-- سال  دوره آموزشی را انتخاب نمائید --", new { @id = "DesignTrainingCourseDateId", @class = "col-xs-10 col-sm-5 col-md-10 fs" })
                                @Html.ValidationMessageFor(model => model.DesignTrainingCourseDateId)
                            </div>
                        </div>*@


                        <div class="form-group">
                            <label id="lblTrainingVenueId" class="col-sm-3 control-label no-padding-right" for="form-field-1">نام مکان برگزاری آموزش:</label>
                            <div class="col-md-9">
                                @Html.DropDownList("TrainingVenueId", new MultiSelectList(ViewBag.TableInterfaceIdTrainingVenue, "Value", "Text"), "-- نام  مکان برگزاری آموزش را انتخاب نمائید --", new { @id = "TrainingVenueId", @class = "col-xs-10 col-sm-5 col-md-10 fs" })
                                @Html.ValidationMessageFor(model => model.TrainingVenueId)
                            </div>
                        </div>

                        <div class="form-group">
                            <label id="lblAmountPierced" class="col-sm-3 control-label no-padding-right" for="form-field-1">مبلغ سفته : </label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.AmountPierced, new { @id = "AmountPierced", @class = "col-xs-10 col-sm-5  col-md-10 fs", @placeholder = "مبلغ سفته" })
                                @Html.ValidationMessageFor(model => model.AmountPierced)
                            </div>
                        </div>

                        <div class="form-group">
                            <label id="lblTimeEmployment" class="col-sm-3 control-label no-padding-right" for="form-field-1">مدت اشتغال: </label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.TimeEmployment, new { @id = "TimeEmployment", @class = "col-xs-10 col-sm-5 col-md-10 fs", @placeholder = "مدت اشتغال" })
                                @Html.ValidationMessageFor(model => model.TimeEmployment)
                            </div>
                        </div>

                        <div class="form-group">
                            <label id="lblTimeEmployment" class="col-sm-3 control-label no-padding-right" for="form-field-1">تاریخ شروع اعتبار سناد: </label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.FromDate, new { @id = "FromDateStr", @class = "col-xs-10 col-sm-5 col-md-10 fs", @placeholder = "تاریخ شروع اعتبار سناد" })
                                @Html.ValidationMessageFor(model => model.FromDate)
                            </div>
                        </div>

                        <div class="form-group">
                            <label id="lblTimeEmployment" class="col-sm-3 control-label no-padding-right" for="form-field-1">تاریخ پایان اعتبار سناد: </label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.ToDate, new { @id = "ToDateStr", @class = "col-xs-10 col-sm-5 col-md-10 fs", @placeholder = "تاریخ پایان اعتبار سناد" })
                                @Html.ValidationMessageFor(model => model.ToDate)
                            </div>
                        </div>

                        <div class="breadcrumbs" id="breadcrumbs">
                            <script type="text/javascript">
                                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                            </script>

                            <div class="col-md-offset-3 col-md-9">
                                <button id="btnSave" onclick="SaveDataFinancialCommitment()" class="btn btn-success btn-white btn-round" type="button">
                                    <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                    ذخیره
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button type="button" class="btn btn-danger btn-white btn-round" data-dismiss="modal" aria-label="Close">
                                    <i class="ace-icon fa fa-undo bigger-125"></i>

                                    بازگشت
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content-area -->
    </div>
    <!-- /.page-content -->

</body>

</html>


