@using Bussiness
@model InterfaceEntity.NoteAbsenceEntity

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        new AMIB.persianCalendar('AttendanceDate');
    </script>
</head>
<body>

    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" style="display:none" id="MessageOperation">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-check"></i>
                <a href="#" id="messageOp"></a>
            </li>
        </ul>
        <!-- /.breadcrumb -->
    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-content-area">
            <br />

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <form class="form-horizontal" role="form">
                        <!-- #section:elements.form -->
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.NoteAbsenceId, new { @id = "NoteAbsenceId" })

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">نام کارمند: </label>
                            <div class="col-md-9">
                                @Html.DropDownList("EmployemeId", new MultiSelectList(ViewBag.EmployemesId, "Value", "Text"), new { @id = "EmployemeId", @class = "col-xs-10 col-sm-5 col-md-10 fs" })
                                @Html.ValidationMessageFor(model => model.EmployemeId)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">نام دروه آموزشی: </label>
                            <div class="col-md-9">                                
                                @Html.DropDownList("TrainingCourseId", new MultiSelectList(ViewBag.TrainingCourseIdTemp, "Value", "Text"), new { @id = "TrainingCourseId", @class = "col-xs-10 col-sm-5 col-md-10 fs" })
                                @Html.ValidationMessageFor(model => model.TrainingCourseId)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">تاریخ حضور و غیاب : </label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.AttendanceDate, new { @Value = Model.AttendanceDate.MiladiToPersion(), @id = "AttendanceDate", @class = "col-xs-10 col-sm-5 col-md-10 fs pdate align-right", @placeholder = "تاریخ حضور و غیاب" })
                                @Html.ValidationMessageFor(model => model.AttendanceDate)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">از ساعت: </label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.HourDelayFrom, new { @id = "HourDelayFrom", @class = "col-xs-10 col-sm-5  col-md-10 fs", @placeholder = "از ساعت" })
                                @Html.ValidationMessageFor(model => model.HourDelayFrom)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">تاساعت: </label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.HourDelayTo, new { @id = "HourDelayTo", @class = "col-xs-10 col-sm-5 col-md-10 fs", @placeholder = "تاساعت" })
                                @Html.ValidationMessageFor(model => model.HourDelayTo)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">انواع تذکرکتبی غیبت کلاس: </label>
                            <div class="col-md-9">
                                @Html.DropDownList("WrittenNoticeId", new MultiSelectList(ViewBag.TableInterfaceValueIdWrittenNotice, "Value", "Text"), new { @id = "WrittenNoticeId", @class = "col-xs-10 col-sm-5 col-md-10 fs" })
                                @Html.ValidationMessageFor(model => model.WrittenNoticeId)
                            </div>
                        </div>

                        <div class="breadcrumbs" id="breadcrumbs">
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btnEdit" onclick="EditDataNoteAbsence()" class="btn btn-success btn-white btn-round" type="button">
                                    <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                    ذخیره
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button type="button" class="btn btn-danger btn-white btn-round" data-dismiss="modal" aria-label="Close">
                                    <i class="ace-icon fa fa-undo bigger-125"></i>
                                    بازگشت
                                </button>
                                <img class="col-md-offset-5" style="display:none" id="ajaxloader" src="~/AceTemplate/assets/img/ajax-loader2.gif" />
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content-area -->
    </div>
    <!-- /.page-content -->
</body>
</html>



