

@model InterfaceEntity.DetailTypeRateEntity

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
</head>

<body>

    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" style="display:none" id="MessageOperation">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-check"></i>
                <a href="#" id="messageOp"></a>
            </li>
        </ul>
        <!-- /.breadcrumb -->
    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-content-area">
            <br />

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <form class="form-horizontal" role="form">
                        <!-- #section:elements.form -->

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">عنوان امتیازدهی : </label>
                            <div class="col-md-9">
                                @Html.DropDownList("TypesRateId", new MultiSelectList(ViewBag.TypesRateId, "Value", "Text"), new { @id = "TypesRateId", @class = "col-xs-10 col-sm-5 col-md-10 fs" })
                                @Html.ValidationMessageFor(model => model.TypesRateId)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">عنوان امتیاز : </label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.DetailTypeName, new { @id = "DetailTypeName", @class = "col-xs-10 col-sm-5 col-md-10 fs", @placeholder = "عنوان امتیاز" })
                                @Html.ValidationMessageFor(model => model.DetailTypeName)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">امتیاز : </label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.NumDetailType, new { @id = "NumDetailType", @class = "col-xs-10 col-sm-5 col-md-10 fs", @placeholder = "امتیاز" })
                                @Html.ValidationMessageFor(model => model.NumDetailType)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">عنوان امتیاز اصلی : </label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Parent, new { @id = "Parent", @class = "col-xs-10 col-sm-5 col-md-10 fs", @placeholder = "عنوان امتیاز اصلی" })
                                @Html.ValidationMessageFor(model => model.Parent)
                            </div>
                        </div>

                        <div class="breadcrumbs" id="breadcrumbs">
                            <div class="col-md-offset-3">
                                <button id="btnSave" onclick="SaveDataDetailTypeRate()" class="btn btn-success btn-white btn-round" type="button">
                                    <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                    ذخیره
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button type="button" class="btn btn-danger btn-white btn-round" data-dismiss="modal" aria-label="Close">
                                    <i class="ace-icon fa fa-undo bigger-125"></i>
                                    بازگشت
                                </button>
                                <img class="col-md-offset-5" style="display:none" id="ajaxloader" src="~/AceTemplate/assets/img/ajax-loader2.gif" />
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content-area -->
    </div>
    <!-- /.page-content -->

</body>

</html>

