@using Bussiness
@model IEnumerable<InterfaceEntity.PlacementTabJobTrainingEntity>
<head>

    <link href="~/Content/DataTable/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTable/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTable/datatables.css" rel="stylesheet" />

    @*<script src="~/scripts/jquery-1.12.3.js"></script>*@
    <script src="~/Content/DataTable/datatables.min.js"></script>

    <script src="~/Content/DataTable/dataTables.buttons.min.js"></script>
    <script src="~/Content/DataTable/jszip.min.js"></script>
    <script src="~/Content/DataTable/buttons.html5.min.js"></script>

    <style>
        #sample-table-1 tr:hover {
            color: #2980B9 !important;
            background-color: #eeeeee !important; /*  working for td */
        }

        #sample-table-1, #sample-table-1 th {
            border-color: #ccc !important;
        }

            #sample-table-1 .paginate_button:hover {
                border-color: #ccc !important;
            }

        /*.dataTables_wrapper .dataTables_paginate .paginate_button {
             background: none;
             background-color: #fff;
             color: #2980B9 !important;
             border-radius: 4px;
             border: 1px solid #2980B9;
         }
         .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
             background: none;
             background-color: #fff;
             color: #2980B9 !important;
             border-radius: 4px;
             border: 1px solid #2980B9;
         }
         .dataTables_wrapper .dataTables_paginate .paginate_button:active {
             background: none;
             background-color: #fff !important;
             color: #2980B9 !important;
         }*/
    </style>
</head>
<table id="sample-table-1" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="center">
                <label class="position-relative">
                    #
                </label>
            </th>
            <th>نام و نام خانوادگی شاغل </th>
            <th>نام واحد/بخش/قسمت</th>
            <th>شغل فعلی</th>
            <th>تاریخ شرع به کار شغل فعلی</th>
            <th>جمع ساعت</th>
            <th style="width:20%">مشاغل قبلی</th>
            <th width="11%">عملیات</th>
        </tr>
    </thead>
    @{
        int i = 1;
        foreach (var item in Model)
        {
            <tr>
                <td class="center">
                    <label class="position-relative">
                        @i
                    </label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployemeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitDepartmentSection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPostGroupName)
                </td>
                <td>
                    @item.DateStartPostGroupName.MiladiToPersion()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SumNumberOfHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreviousJobs)
                </td>
                <td>
                    @Html.Hidden("DateOfProducer", null, new { @Value = ViewBag.DateOfProducer })
                    @Html.Hidden("DateOfApprover", null, new { @Value = ViewBag.DateOfApprover })

                    <div class="hidden-sm hidden-xs btn-group">
                        <button data-original-title="ویرایش" data-placement="top" data-toggle="tooltip" data-Id="@item.PlacementTabJobTrainingId" class="BtnEdit btn btn-xs btn-warning tooltip1">
                            <i class="ace-icon fa fa-pencil bigger-100"></i>
                        </button>

                        <button data-original-title="حذف" data-placement="top" data-toggle="tooltip" data-Id="@item.PlacementTabJobTrainingId" data-DeleteName="DeleteDataPlacementTabJobTraining()" class="BtnDelete btn btn-xs btn-danger tooltip1">
                            <i class="ace-icon fa fa-trash-o bigger-100"></i>
                        </button>

                        <button data-original-title="جزئیات عنوان آموزش حین کار" data-placement="top" data-toggle="tooltip"
                                data-Id="@item.PlacementTabJobTrainingId" data-EmployemeName="@item.EmployemeName" class="BtnDetailPlacementTabJobTraining btn btn-xs btn-info tooltip1">
                            <i class="ace-icon fa fa-list bigger-100"></i>
                        </button>

                        <button data-original-title="تنظیم تاریخ" data-placement="top" data-toggle="tooltip"
                                data-Id="@item.PlacementTabJobTrainingId"
                                data-EmployemeId="@item.EmployemeId"
                                data-EmployemeName="@item.EmployemeName"
                                class="BtnSetDateReport btn btn-xs btn-round tooltip1">
                            <i class="ace-icon fa fa-list bigger-100"></i>
                        </button>

                        <a href="/PlacementTabJobTraining/Print/@item.PlacementTabJobTrainingId" data-original-title="پرینت فهرست تعیین سطح آموزش حین کار" data-placement="top" data-toggle="tooltip"
                           data-Id="@item.PlacementTabJobTrainingId"
                           class="btn btn-xs btn-success tooltip1">
                            <i class="ace-icon fa fa-print bigger-100"></i>
                        </a>

                        <button data-original-title="کپی" data-placement="top" data-BtnCopyDataPlacementTabJob="CopyDataPlacementTabJob()" data-toggle="tooltip" data-Id="@item.PlacementTabJobTrainingId" class="BtnCopyDataPlacementTabJob btn btn-xs btn-danger tooltip1">
                            <i class="ace-icon fa fa-comment-o bigger-140"></i>
                        </button>

                        <audio>
                            'd;d;.v;lf'
                        </audio>
                    </div>

                    <div class="hidden-md hidden-lg">
                        <div class="inline position-relative">
                            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                <li>
                                    <a data-Id="@item.PlacementTabJobTrainingId" class="BtnEdit tooltip-success" data-rel="tooltip" title="ویرایش">
                                        <span class="green">
                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a data-Id="@item.PlacementTabJobTrainingId" class="BtnDelete tooltip-error" data-rel="tooltip" title="حدف">
                                        <span class="red">
                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            i++;
        }
    }
</table>


<script>
    //$('table').dataTable({ searching: false, paging: false, info: false });
    $(document).ready(function () {
        var d = new Date();
        var date = d.getDate();
        $('table').DataTable({
            dom: 'Blfrtip',
            info: false,
            stateSave: true,
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            //oSelectorOpts: { filter: 'applied' },
            columnDefs: [
                { "width": "9%", "orderable": false, "targets": 7 }
            ],
            oLanguage: {
                oPaginate: {
                    "sFirst": "اولین صفحه", // This is the link to the first page
                    "sPrevious": "قبلی", // This is the link to the previous page
                    "sNext": "بعدی", // This is the link to the next page
                    "sLast": "آخرین صفحه" // This is the link to the last page
                },
                sSearch: "جستجو:",
                sLengthMenu: "تعداد داده: _MENU_ "
            },
            buttons: [{
                text: 'ذخیره تمام اطلاعات  در اکسل',
                className: "ExportAll",
                extend: 'excelHtml5',
                title: 'گزارش' + ' ' + $('#PageReportName').text() + '' + d.getFullYear() + '/' + ("0" + (d.getMonth() + 1)).slice(-2) + '/' + ("0" + d.getDate()).slice(-2),
                exportOptions: {
                    modifier: {
                        selected: true
                    },
                    columns: [1, 2, 3, 4, 5, 6],
                    format: {
                        header: function (data, columnIdx) {
                            return data;
                        },
                        body: function (data, column, row) {
                            // Strip $ from salary column to make it numeric
                            debugger;
                            return column === 7 ? "" : data;
                        }
                    }
                },
                footer: false,
                customize: function (xlsx) {
                    var sheet = xlsx.xl.worksheets['sheet1.xml'];
                    //$('c[r=A1] t', sheet).text( 'Custom text' );
                    //$('row c[r^="C"]', sheet).attr('s', '2');
                }
            }
                ,
            {
                text: 'ذخیره همین صفحه در اکسل',
                extend: 'excelHtml5',
                exportOptions: {
                    modifier: {
                        page: 'current'
                    }
                }
            },
            ]
        });
        $('.dt-button').addClass('btn btn-lg btn-primary');
        $('.ExportAll').addClass('btn btn-lg btn-success');
    });
</script>
