@using Bussiness
@model IEnumerable<InterfaceEntity.PlacementTabJobTrainingEntity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">

        var _PlacementTabJobTrainingDateId = '@ViewBag.PlacementTabJobTrainingDateId';
        var _DateOfProducer = '@ViewBag.DateOfProducer';
        var _DateOfApprover = '@ViewBag.DateOfApprover';
        var _DateOfRegistrar = '@ViewBag.DateOfRegistrar';
        var ReportNameId = '@ViewBag.ReportNameId';

        //Operation PlacementTabJobTraining-------------------------
        function SaveDataPlacementTabJobTraining() {
            var result = Validation();
            if (result == false) return;

            $("#ajaxloader").css("display", "inline");
            var myObject = new Object();
            myObject.PlacementTabJobTrainingDateId = _PlacementTabJobTrainingDateId;
            myObject.EmployemeId = $("#EmployemeId").val();
            myObject.SectionId = $("#SectionId").val();
            myObject.PostGroupId = $("#PostGroupId").val();
            myObject.DateStartPostGroupNameStr = $("#DateStartPostGroupNameStr").val();
            myObject.PreviousJobs = $("#PreviousJobs").val();
            myObject.CorporateResponsibility = $("#CorporateResponsibility").val();

            var url = "/PlacementTabJobTraining/Create"; // the url to the controller
            $.post(url, myObject, function (data) {
                if (data == true) {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>اطلاعات با موفقیت ثبت گردید!</p>");
                    $("#messageOp").css("color", "green");
                    $("#MessageOperation").css("display", "block");
                }
                else {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>ثبت اطلاعات با خطا مواجه شد !</p>");
                    $("#messageOp").css("color", "red");
                    $("#MessageOperation").css("display", "block");
                }
                //_GetListPlacementTabJobTraining();
                _GetListPlacementTabJobTraining(2);
                window.setTimeout(function () {
                    $("#MessageOperation").css("display", "none");
                }, 5000);
            });

        }
        function EditDataPlacementTabJobTraining() {
            var result = Validation();
            if (result == false) return;

            $("#ajaxloader").css("display", "inline");
            var myObject = new Object();
            myObject.PlacementTabJobTrainingId = $("#PlacementTabJobTrainingId").val();
            myObject.PlacementTabJobTrainingDateId = _PlacementTabJobTrainingDateId;
            myObject.EmployemeId = $("#EmployemeId").val();
            myObject.SectionId = $("#SectionId").val();
            myObject.PostGroupId = $("#PostGroupId").val();
            myObject.DateStartPostGroupNameStr = $("#DateStartPostGroupNameStr").val();
            myObject.PreviousJobs = $("#PreviousJobs").val();
            myObject.CorporateResponsibility = $("#CorporateResponsibility").val();

            var url = "/PlacementTabJobTraining/Edit"; // the url to the controller
            $.post(url, myObject, function (data) {
                if (data == true) {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>اطلاعات با موفقیت ویرایش گردید!</p>");
                    $("#messageOp").css("color", "green");
                    $("#MessageOperation").css("display", "block");
                }
                else {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>ویرایش اطلاعات با خطا مواجه شد !</p>");
                    $("#messageOp").css("color", "red");
                    $("#MessageOperation").css("display", "block");
                }

                window.setTimeout(function () {
                    $("#MessageOperation").css("display", "none");
                }, 5000);


                //alert(_PlacementTabJobTrainingDateId);
                _GetListPlacementTabJobTraining(2);
            });

        }
        function DeleteDataPlacementTabJobTraining() {
            debugger;
            $("#ajaxloader").css("display", "inline");
            var myObject = new Object();

            myObject.ID = $("#TableId").val();
            var url = "/PlacementTabJobTraining/Delete"; // the url to the controller
            $.post(url, myObject, function (data) {
                $("#DeleteContent").css("display", "none");
                if (data == true) {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>اطلاعات با موفقیت حذف گردید!</p>");
                    $("#messageOp").css("color", "green");
                    $("#MessageOperation").css("display", "block");
                }
                else {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>حذف اطلاعات با خطا مواجه شد !</p>");
                    $("#messageOp").css("color", "red");
                    $("#MessageOperation").css("display", "block");
                }

                //alert(_PlacementTabJobTrainingDateId);
                _GetListPlacementTabJobTraining(2);
            });

        }
        function _GetListPlacementTabJobTraining() {
            $.ajax({
                url: "/PlacementTabJobTraining/_GetListPlacementTabJobTraining/?ID=" + _PlacementTabJobTrainingDateId,
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    $('#theGrid').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }


        function _GetListPlacementTabJobTraining(typesearch) {
            debugger;

            //typesearch { WithoutParameter =1, WithParameter = 2}
            if (typesearch == 1) {
                var myObjectSearch = new Object();
                myObjectSearch.EmployemeName = $("#EmployemeNameSearch").val();
                myObjectSearch.UnitSCenterId = $("#UnitSCenterSearch").val();
                myObjectSearch.DepartmentId = $("#DepartmentSearch").val();
                myObjectSearch.typesearch = 1;
            }
            else if (typesearch == 2) {
                var myObjectSearch = new Object();
                myObjectSearch.EmployemeName = $("#EmployemeNameSearch").val();
                myObjectSearch.UnitSCenterId = $("#UnitSCenterSearch").val();
                myObjectSearch.DepartmentId = $("#DepartmentSearch").val();
                myObjectSearch.typesearch = 2;
            }


            var url = "/PlacementTabJobTraining/_GetListPlacementTabJobTraining/?ID=" + _PlacementTabJobTrainingDateId;
            $.post(url, myObjectSearch, function (data) {

                $('#theGrid').html(data);
            });

            //$.ajax({
            //    url: "/PlacementTabJobTraining/_GetListPlacementTabJobTraining/?ID=" + _PlacementTabJobTrainingDateId,
            //    type: 'GET',
            //    datatype: 'json',
            //    success: function (data) {
            //        $('#theGrid').html(data);
            //    },
            //    error: function (jqXHR, textStatus, errorThrown) {
            //        alert(errorThrown);
            //    }
            //});

        }
        function _GetPrintListPlacementTabJobTraining() {
            debugger;

            $("#ajaxloader").css("display", "inline");
            location.href = "/PlacementTabJobTraining/PrintToPdf";
            /*
            var url = "/Employeme/PrintToPdf"; // the url to the controller
            $.post(url, function (data) {
                $('#theGrid').html(data);
            });
            */
    
        }


        function Validation() {
            $("#MessageOperation").css("display", "none");
            var StateValue = false;

            if ($('#EmployemeId').val() == '') {
                $('#lblEmployemeId').css('color', 'red');
                StateValue = true;
            }
            else {
                $('#lblEmployemeId').css('color', 'black');
            }

            if ($('#CurrentPostGroup').val() == '') {
                $('#lblCurrentPostGroup').css('color', 'red');
                StateValue = true;
            }
            else {
                $('#lblCurrentPostGroup').css('color', 'black');
            }

            if ($('#DateStartPostGroupNameStr').val() == '') {
                $('#lblDateStartPostGroupNameStr').css('color', 'red');
                StateValue = true;
            }
            else {
                $('#lblDateStartPostGroupNameStr').css('color', 'black');
            }

            if ($('#SectionId').val() == '') {
                $('#lblSectionId').css('color', 'red');
                StateValue = true;
            }
            else {
                $('#lblSectionId').css('color', 'black');
            }

            

            if (StateValue == true) {
                $("#ajaxloader").css("display", "none");
                $("#messageOp").empty();
                $("#messageOp").append("<p>لطفا موارد مشخص شده را وارد نمائید !</p>");
                $("#messageOp").css("color", "red");
                $("#MessageOperation").css("display", "block");
                return false;
            }
        }
        //----------------------------------------------------------

        //Operation DetailPlacementTabJobTraining----------------------
        function SaveDataDetailPlacementTabJobTraining() {
            var result = Validation();
            if (result == false) return;

            $("#ajaxloader").css("display", "inline");
            var myObject = new Object();
            myObject.PlacementTabJobTrainingId = $("#PlacementTabJobTrainingId").val();
            myObject.Title = $("#Title").val();
            myObject.FinalComment = $("#FinalComment").val();
            myObject.NumberOfHours = $("#NumberOfHours").val();
            myObject.OJTLevelId = $("#OJTLevelId").val();

            var url = "/DetailPlacementTabJobTraining/Create"; // the url to the controller
            $.post(url, myObject, function (data) {
                if (data == true) {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>اطلاعات با موفقیت ثبت گردید!</p>");
                    $("#MessageOperation").css("display", "block");
                }
                else {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>ثبت اطلاعات با خطا مواجه شد !</p>");
                    $("#MessageOperation").css("display", "block");
                }

                _GetListDetailPlacementTabJobTraining();

                window.setTimeout(function () {
                    $("#MessageOperation").css("display", "none");
                }, 5000);
            });

        }
        function EditDataDetailPlacementTabJobTraining() {
            var result = Validation();
            if (result == false) return;

            $("#ajaxloader").css("display", "inline");
            var myObject = new Object();
            myObject.DetailPlacementTabJobTrainingId = $("#DetailPlacementTabJobTrainingId").val();
            myObject.PlacementTabJobTrainingId = $("#PlacementTabJobTrainingId").val();
            myObject.Title = $("#Title").val();
            myObject.FinalComment = $("#FinalComment").val();
            myObject.NumberOfHours = $("#NumberOfHours").val();
            myObject.OJTLevelId = $("#OJTLevelId").val();

         
            var url = "/DetailPlacementTabJobTraining/Edit"; // the url to the controller
            $.post(url, myObject, function (data) {
                if (data == true) {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>اطلاعات با موفقیت ویرایش گردید!</p>");
                    $("#messageOp").css("color", "green");
                    $("#MessageOperation").css("display", "block");
                }
                else {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>ویرایش اطلاعات با خطا مواجه شد !</p>");
                    $("#messageOp").css("color", "red");
                    $("#MessageOperation").css("display", "block");
                }

                _GetListDetailPlacementTabJobTraining();

                window.setTimeout(function () {
                    $("#MessageOperation").css("display", "none");
                }, 5000);
            });

        }
        function DeleteDataDetailPlacementTabJobTraining(ID) {
            $("#ajaxloader").css("display", "inline");
            var myObject = new Object();

            myObject.ID = ID;
            var url = "/DetailPlacementTabJobTraining/Delete"; // the url to the controller
            $.post(url, myObject, function (data) {
                if (data == true) {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>اطلاعات با موفقیت حذف گردید!</p>");
                    $("#messageOp").css("color", "green");
                    $("#MessageOperation").css("display", "block");
                }
                else {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>حذف اطلاعات با خطا مواجه شد !</p>");
                    $("#messageOp").css("color", "red");
                    $("#MessageOperation").css("display", "block");
                }

                _GetListDetailPlacementTabJobTraining();

                window.setTimeout(function () {
                    $("#MessageOperation").css("display", "none");
                }, 5000);
            });

        }
        function _GetListDetailPlacementTabJobTraining() {
            $.ajax({
                url: "/DetailPlacementTabJobTraining/_GetListDetailPlacementTabJobTraining/",
                type: 'GET',
                datatype: 'json',
                data: { PlacementTabJobTrainingId: PlacementTabJobTrainingId },
                success: function (data) {
                    $('#theGridDetailPlacementTabJobTraining').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
        function Validation() {
            $("#MessageOperation").css("display", "none");
            var StateValue = false;

            if ($('#Title').val() == '') {
                $('#Title').css('border-color', '#E16D56');
                StateValue = true;
            }
            else {
                $('#Title').css('border-color', '#d5d5d5');
            }

            if ($('#FinalComment').val() == '') {
                $('#FinalComment').css('border-color', '#E16D56');
                StateValue = true;
            }
            else {
                $('#FinalComment').css('border-color', '#d5d5d5');
            }

            if ($('#NumberOfHours').val() == '') {
                $('#NumberOfHours').css('border-color', '#E16D56');
                StateValue = true;
            }
            else {
                $('#NumberOfHours').css('border-color', '#d5d5d5');
            }

            if ($('#OJTLevelId').val() == '') {
                $('#OJTLevelId').css('border-color', '#E16D56');
                StateValue = true;
            }
            else {
                $('#OJTLevelId').css('border-color', '#d5d5d5');
            }

            if (StateValue == true) {
                $("#ajaxloader").css("display", "none");
                $("#messageOp").empty();
                $("#messageOp").append("<p>لطفا موارد مشخص شده را وارد نمائید !</p>");
                $("#messageOp").css("color", "red");
                $("#MessageOperation").css("display", "block");
                return false;
            }
        }
        //----------------------------------------------------------------

        //Operation SetDateForReport----------------------
        function SaveDataSetDateForReport() {
            var result = Validation();
            if (result == false) return;

            $("#ajaxloader").css("display", "inline");
            var PlacementTabJobTrainingId = $("#PublicCode").val();

            var myObject = new Object();
            myObject.EmployemeId = $("#EmployemeId").val();
            myObject.ReportNameId = $("#ReportNameId").val();
            myObject.PublicCode = PlacementTabJobTrainingId;    
            myObject.DateOfProducerStr = $("#DateOfProducerstr").val();
            myObject.DateOfApproverStr = $("#DateOfApproverstr").val();
            myObject.DateOfRegistrarStr = $("#DateOfRegistrarstr").val();
            
            var url = "/SetDateForReport/Create"; // the url to the controller
            $.post(url, myObject, function (data) {
                if (data == true) {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>اطلاعات با موفقیت ثبت گردید!</p>");
                    $("#MessageOperation").css("display", "block");
                }
                else {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>ثبت اطلاعات با خطا مواجه شد !</p>");
                    $("#MessageOperation").css("display", "block");
                }
                _GetListSetDateForReport();
                window.setTimeout(function () {
                    $("#MessageOperation").css("display", "none");
                }, 5000);
            });

        }
        function EditDataSetDateForReport() {
            var result = Validation();
            if (result == false) return;

            $("#ajaxloader").css("display", "inline");

            var myObject = new Object();
            myObject.SetDateForReportId = $("#SetDateForReportId").val();
            myObject.ReportNameId = $("#ReportNameId").val();
            myObject.EmployemeId = $("#EmployemeId").val();
            myObject.PublicCode = $("#PublicCode").val();
            myObject.DateOfProducerstr = $("#DateOfProducerstr").val();
            myObject.DateOfApproverstr = $("#DateOfApproverstr").val();
            myObject.DateOfRegistrarstr = $("#DateOfRegistrarstr").val();

            var url = "/SetDateForReport/Edit"; // the url to the controller
            $.post(url, myObject, function (data) {
                if (data == true) {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>اطلاعات با موفقیت ویرایش گردید!</p>");
                    $("#messageOp").css("color", "green");
                    $("#MessageOperation").css("display", "block");
                }
                else {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>ویرایش اطلاعات با خطا مواجه شد !</p>");
                    $("#messageOp").css("color", "red");
                    $("#MessageOperation").css("display", "block");
                }

                _GetListSetDateForReport();

                window.setTimeout(function () {
                    $("#MessageOperation").css("display", "none");
                }, 5000);
            });

        }
        function _GetListSetDateForReport() {
            var PlacementTabJobTrainingId = $("#PublicCode").val();
            $.ajax({
                url: "/SetDateForReport/_GetListSetDateForReport/",
                type: 'GET',
                datatype: 'json',
                data: { PublicCode: PlacementTabJobTrainingId , ReportNameId: ReportNameId},
               success: function (data) {
                    $('#theGridSetDateForReport').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
        function Validation() {
            $("#MessageOperation").css("display", "none");
            var StateValue = false;

            if ($('#DateOfProducerstr').val() == '') {
                $('#DateOfProducerstr').css('border-color', '#E16D56');
                StateValue = true;
            }
            else {
                $('#DateOfProducerstr').css('border-color', '#d5d5d5');
            }

            if ($('#DateOfApproverstr').val() == '') {
                $('#DateOfApproverstr').css('border-color', '#E16D56');
                StateValue = true;
            }
            else {
                $('#DateOfApproverstr').css('border-color', '#d5d5d5');
            }

            if ($('#DateOfRegistrarstr').val() == '') {
                $('#DateOfRegistrarstr').css('border-color', '#E16D56');
                StateValue = true;
            }
            else {
                $('#DateOfRegistrarstr').css('border-color', '#d5d5d5');
            }          

            if ($('#ReportNameId').val() == '') {
                $('#ReportNameId').css('border-color', '#E16D56');
                StateValue = true;
            }
            else {
                $('#ReportNameId').css('border-color', '#d5d5d5');
            }
            if (StateValue == true) {
                $("#ajaxloader").css("display", "none");
                $("#messageOp").empty();
                $("#messageOp").append("<p>لطفا موارد مشخص شده را وارد نمائید !</p>");
                $("#messageOp").css("color", "red");
                $("#MessageOperation").css("display", "block");
                return false;
            }
        }
        function CopyDataPlacementTabJob(placementtabjobtrainingid) {
            $("#ajaxloader").css("display", "inline");

            var myObject = new Object();
            myObject.ID = placementtabjobtrainingid;

            var url = "/PlacementTabJobTraining/CopyDataPlacementTabJob";
            $.post(url, myObject, function (data) {
                if (data == true) {
                    alert(".اطلاعات با موفقیت کپی گردید");
                }
                else {
                    alert("کپی اطلاعات با خطا مواجه شد. !");
                }

                _GetListSetDateForReport();

                window.setTimeout(function () {
                    $("#MessageOperation").css("display", "none");
                }, 5000);
            });
        }

        //------------------------------------------------------------

        $(document).ready(function () {

            $(document).on('mousemove', '.tooltip1', function () {
                $('.tooltip1').tooltip();
            });

            $(document).on('click', '#btnAddNew', function () {
                $("div#divLoading").addClass('show');
                $.get('/PlacementTabJobTraining/Create', null, function (data) {
                    $("#TitleModal").empty();
                    $("#TitleModal").append("<span>برگه تعیین سطح آموزش حین کار،(آموزش)</span>");
                    $("#MainModalContent").html(data);
                    $("#AddNewModal").modal("show");
                    $("div#divLoading").removeClass('show');
                })
            });

            $(document).on('click', '.BtnEdit', function () {
                $("div#divLoading").addClass('show');
                var PlacementTabJobTrainingld = $(this).attr('data-Id');
                $.get('/PlacementTabJobTraining/Edit', "ID=" + PlacementTabJobTrainingld, function (data) {
                    $("#TitleModal").empty();
                    $("#TitleModal").append("<span>برگه تعیین سطح آموزش حین کار ،(آموزش)</span>");
                    $("#MainModalContent").html(data);
                    $("#AddNewModal").modal("show");
                    $("div#divLoading").removeClass('show');
                });
            });

            $(document).on('click', '.BtnDelete', function () {
                $("div#divLoading").addClass('show');
                $("#TitleModal").empty();
                $("#TitleModal").append("<span>برگه تعیین سطح آموزش حین کار ،( آموزش)</span>");
                var PlacementTabJobTrainingtId = $(this).attr('data-Id');
                var ViewName = $(this).attr('data-DeleteName');
                $.get('/Home/DeletePage', { id: PlacementTabJobTrainingtId, viewname: ViewName }, function (data) {
                    $("#MainModalContent").html(data);
                    $("#AddNewModal").modal("show");
                    $("div#divLoading").removeClass('show');
                });
            });

            $(document).on('click', '.BtnDetailPlacementTabJobTraining', function () {
                $("div#divLoading").addClass('show');
                var PlacementTabJobTrainingId = $(this).attr('data-Id');
                $.get('/DetailPlacementTabJobTraining/Index', { PlacementTabJobTrainingId: PlacementTabJobTrainingId }, function (data) {
                    $("#TitleModal").empty();
                    $("#TitleModal").append("<span>عنوان آموزش حین کار،(برگه تعیین سطح اموزش حین کار)&nbsp;&nbsp;</span>");// + EmployemeName);
                    $("#MainModalContent").html(data);
                    $("#AddNewModal").modal("show");
                    $("div#divLoading").removeClass('show');
                });
            });

            $(document).on('click', '.BtnSetDateReport', function () {
                $("div#divLoading").addClass('show');

                var PlacementTabJobTrainingId = $(this).attr('data-Id');
                var dataEmployemeId = $(this).attr('data-EmployemeId');
                var EmployemeName = $(this).attr('data-EmployemeName');
                
                $.get('/SetDateForReport/Index', { PublicCode: PlacementTabJobTrainingId, EmployemeId: dataEmployemeId, ReportNameId: ReportNameId}, function (data) {
                    $("#TitleModal").empty();
                    $("#TitleModal").append("<spanتنظیم تاریخ  &nbsp;&nbsp; </span>");// + 'تنظیم تاریخ -' + ' ' + EmployemeName);// + EmployemeName);
                    $("#MainModalContent").html(data);
                    $("#AddNewModal").modal("show");
                    $("div#divLoading").removeClass('show');
                });
            });

            $(document).on('click', '.BtnCopyDataPlacementTabJob', function () {

                var placementtabjobtrainingid = $(this).attr('data-Id');
                CopyDataPlacementTabJob(placementtabjobtrainingid);
            });

        });

      

    </script>
</head>

<body>

    <div id="divLoading"></div>

    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">صفحه اصلی</a>
            </li>
            <li class="active">آموزش</li>
            <li class="active"> جزئیات فهرست تعیین سطح آموزش حین کار </li>
        </ul>
        <!-- /.breadcrumb -->
    </div>


    <div class="widget-box collapsed" id="WidgetBoxEmployemeSearch">
        <div class="widget-header">

            <ul class="breadcrumb">
                
                <li class="active bigger-150"><a href="#">جستجو</a></li>
            </ul>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-down" id="AceIconEmployemeSearch"></i>
                </a>
            </div>
        </div>
        <div class="widget-body" style="display: none;height:140px" id="WidgetBodyEmployemeSearch">
            <div class="widget-main">
                <!-- /section:basics/sidebar -->
                <div class="row">

                    <div class="col-xs-6">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form">
                            <!-- #section:elements.form -->

                            <div class="form-group">
                                <label class="col-md-2 control-label no-padding-right" for="form-field-1">واحد : </label>
                                <div class="col-md-10">
                                    @Html.DropDownList("UnitSCenterSearch", new MultiSelectList(ViewBag.TableInterfaceValueIdUnitSCenter, "Value", "Text"), "-- نام واحد را انتخاب نمائید --", new { @id = "UnitSCenterSearch", @class = "col-xs-10 col-sm-5 col-md-10 fs" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label no-padding-right" for="form-field-1">نام بخش : </label>
                                <div class="col-md-10">
                                    @Html.DropDownList("DepartmentSearch", new MultiSelectList(ViewBag.DepartmentId, "Value", "Text"), "-- نام بخش را انتخاب نمائبد --", new { @id = "DepartmentSearch", @class = "col-xs-10 col-sm-5 col-md-10 fs" })
                                </div>
                            </div>


                        </form>
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-6">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form">
                            <!-- #section:elements.form -->

                            <div class="form-group">
                                <label class="col-md-2 control-label no-padding-right" for="form-field-1">نام و نام خانوادگی : </label>
                                <div class="col-md-10">
                                    @Html.TextBox("EmployemeNameSearch", null, new { @id = "EmployemeNameSearch", @class = "col-xs-10 col-sm-5 col-md-10 fs", @placeholder = "نام و نام خانوادگی" })
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="col-md-offset-6">
                                    <button onclick="_GetListPlacementTabJobTraining(2)" class="btn btn-info btn-white btn-round" type="button">
                                        <i class="ace-icon fa fa-search bigger-110"></i>
                                        جستجو
                                    </button>
                                    <img class="col-md-offset-6" style="display:none" id="ajaxloader" src="~/AceTemplate/assets/img/ajax-loader2.gif" />

                                    <button onclick="_GetPrintListPlacementTabJobTraining()" class="btn btn-info btn-white btn-round" type="button">
                                        <i class="ace-icon fa fa-print bigger-110"></i>
                                        پرینت
                                    </button>
                                    <img class="col-md-offset-5" style="display:none" id="ajaxloader" src="~/AceTemplate/assets/img/ajax-loader2.gif" />
                                </div>
                            </div>

                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-content-area">
            <br />
            <div class="col-md-offset-10" style="margin-bottom: 5px">
                <button class="btn btn-success btn-white btn-round" type="button" id="btnAddNew">
                    <i class="ace-icon fa fa-plus bigger-125"></i>
                    جدید
                </button>
                &nbsp; &nbsp; &nbsp;
                <a href="/PlacementTabJobTrainingDate/Index" class="btn btn-danger btn-white btn-round" type="button">
                    <i class="ace-icon fa fa-check bigger-125"></i>
                    بازگشت
                </a>
            </div>

            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div id="theGrid">
                        @Html.Partial("_GetListPlacementTabJobTraining", Model)
                    </div>
                </div>
                <!-- /.span -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content-area -->
    </div>
    <!-- /.page-content -->

    <div class="modal fade" id="AddNewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:900px !important">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="breadcrumbs">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <ul class="breadcrumb">
                            <li>
                                <i class="ace-icon fa fa-home home-icon"></i>
                                <a id="TitleModal" href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-body" id="MainModalContent">
                    salam susage
                </div>
            </div>
        </div>
    </div>
</body>

</html>



