

@using Bussiness
@model IEnumerable<InterfaceEntity.EmployemeJobEntity>
<table id="sample-table-1" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="center">
                <label class="position-relative">
                    #
                </label>
            </th>
            <th>عنوان شغل</th>
            <th>نام واحد</th>
            <th>نام بخش</th>
            <th>نام قسمت</th>
            <th>تاریخ شروع به کار</th>
            <th>شغل فعلی</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody id="contacts">
        @{
            int i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="center">
                        <label class="position-relative">
                            @i
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostGroupName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitSCenterName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SectionName)
                    </td>
                    <td>
                        @item.DateStartPostGroupName.MiladiToPersion()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivePostGroupName)
                    </td>
                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            <button class="btnEditEmployemeJob btn btn-xs btn-warning tooltip1" data-original-title="ویرایش" data-placement="top" data-toggle="tooltip" data-EmployemeJobId="@item.EmployemeJobId" data-EmployemeId="@item.EmployemeId" data-PostGroupId="@item.PostGroupId" data-UnitSCenterName="@item.UnitSCenterName" data-SectionId="@item.SectionId" data-SectionName="@item.SectionName" data-DepartmentId="@item.DepartmentId" data-DepartmentName="@item.DepartmentName" data-UnitSCenterId="@item.UnitSCenterId" data-DateStartPostGroupName="@item.DateStartPostGroupName.MiladiToPersion()" data-ActivePostGroupName="@item.ActivePostGroupName">
                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                            </button>

                            <button data-EmployemeJobId="@item.EmployemeJobId" data-original-title="حذف" data-placement="top" data-toggle="tooltip" class="btnDeleteEmployemeJob btn btn-xs btn-danger tooltip1">
                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            </button>
                        </div>

                        <div class="hidden-md hidden-lg">
                            <div class="inline position-relative">
                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                    <li>
                                        <a data-Id="@item.EmployemeJobId" class="BtnEdit tooltip-success" data-rel="tooltip" title="ویرایش">
                                            <span class="green">
                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a data-Id="@item.EmployemeJobId" class="BtnDelete tooltip-error" data-rel="tooltip" title="حدف">
                                            <span class="red">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>