@model IEnumerable<InterfaceEntity.UserEntity>
<table id="sample-table-1" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="center">
                <label class="position-relative">
                    #
                </label>
            </th>
            <th>نام</th>
            <th>فامیلی</th>
            <th>وضعیت</th>
            <th>نام کاربری</th>
            <th>نوع دسترسی کاربر</th>
            <th>عملیات</th>
        </tr>
    </thead>
    @{
        int i = 1;
        foreach (var item in Model)
        {
            <tr>
                <td class="center">
                    <label class="position-relative">
                        @i
                    </label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles)
                </td>
                <td>

                    <div class="hidden-sm hidden-xs btn-group">
                        <button data-Id="@item.UserId" title="ویرایش" class="BtnEdit btn btn-xs btn-warning tooltip1">
                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                        </button>

                        <button data-Id="@item.UserId" data-DeleteName="DeleteDataUser()" title="حذف" class="BtnDelete btn btn-xs btn-danger tooltip1">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                        </button>

                        <button data-Id="@item.UserId" title="ویرایش رمز" class="BtnEditPassword btn btn-xs btn-info tooltip1">
                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                        </button>
                        <a href="/AccessMenuUser/Index/@item.UserId" data-original-title="دسترسی کاربران به منو" data-placement="top" data-toggle="tooltip" class="BtnDelete btn btn-xs btn-success tooltip1">
                            <i class="ace-icon fa fa-sitemap bigger-120"></i>
                        </a>
                    </div>

                    <div class="hidden-md hidden-lg">
                        <div class="inline position-relative">
                            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                <li>
                                    <a data-Id="@item.UserId" class="BtnEdit tooltip-success" data-rel="tooltip" title="ویرایش">
                                        <span class="green">
                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a data-Id="@item.UserId" class="BtnDelete tooltip-error" data-rel="tooltip" title="حدف">
                                        <span class="red">
                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </td>
            </tr>
            i++;
        }
    }
</table>

